<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is a web site where I create web site designs">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="design, Art, web, site">
    <meta name="author" content="Nikolay Vasilev">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <title>nevifashion | About</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/master.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>




    <%- include menu.ejs %>
    <main class="container-fluid" style="height: 80vh;">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center mt-2">
          <h1 class="text-uppercase">САЛОН ЗА КРАСОТА ‘NEVIFASHION’</h1>
          <p class="py-0 text-uppercase">Първият салон за красота PJ Hairdesign е открит в град София през 2005 година. Собственик и стилист на PJ Hairdesign е Пламена Желева. Пламена държи на предлагането на качествени услуги и на работата с внимание към детайлите, което допринася за дългогодишния успех и позициониране на PJ Hairdesign.</p>
          <p class="py-0 text-uppercase">Всеки, който е част от екипа на фризьорския салон, преминава през професионално обучение, защото той или тя не просто извършват дадена услуга, а са консултанти, на които клиентите могат да се доверят.</p>
          <p class="py-0 text-uppercase">PJ Hairdesign салон за красота София център е място, където в приятна и уютна атмосфера, имате възможност да се погрижите за цялостната си визия - да освежите или напълно промените прическата си, да си направите маникюр и педикюр, козметична процедура или терапия, или пък професионален грим. Можете свободно да изразите идеите си и да участвате заедно с екипа от салона в творческия процес на изграждане на собствения си образ.</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </main>
    <%- include footer.ejs %>

  </body>
</html>
