<footer class="bg-dark text-center py-5">
    <a class="text-white h1" href="/">
        <strong class="text-uppercase">NEVI</strong>fashion
    </a>
    <div class="my-4">
        <ul class="list-unstyled list-inline text-uppercase">
            <li class="list-inline-item mx-2"> <a class="text-white" href="/">Home</a> </li>
            <li class="list-inline-item mx-2"> <a class="text-white" href="/gallery">Gallery</a> </li>
            <li class="list-inline-item mx-2"> <a class="text-white" href="/about">About</a> </li>
            <li class="list-inline-item mx-2"> <a class="text-white" href="/contact">Contact</a> </li>
        </ul>
    </div>
    <div class="">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item mx-2"><a href="http://facebook.com/" class="text-white" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a></li>
            <li class="list-inline-item mx-2"><a href="http://twitter.com/" class="text-white" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></li>
        </ul>
    </div>
</footer>
