<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is a web site where I create web site designs">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="design, Art, web, site">
    <meta name="author" content="Nikolay Vasilev">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <title>nevifashion</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/master.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>




    <%- include menu.ejs %>
    <header class="container-fluid HeaderBg">
      <div class="row">
        <div class="col-md-6 text-center mt-auto mb-auto pt-3 pb-2">
          <h1 class="text-uppercase text-white">Nevi Fashion Studio</h1>
          <p class="my-3 text-uppercase text-white">Hair and Beuty</p>
        </div>
        <div class="col-md-6"></div>
      </div>
    </header>
    <main class="container-fluid NavBg">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
          <h1 class="text-white text-uppercase">САЛОН ЗА КРАСОТА ‘NEVIFASHION’</h1>
          <p class="py-0 text-white text-uppercase">Тайната на красотата се крие в думата „индивидуалност”. Салон за красота NEVIfashion може да помогне за създаване и поддържане на визията Ви. Можете да бъдете обаятелни, изкусителни, романтични, смели, стилни, запомнящи се. Нашите професионалисти са Вашият помощник в създаването на ефектен имидж.</p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </main>
    <%- include footer.ejs %>

  </body>
</html>
