<nav class="navbar navbar-expand-lg navbar-dark NavBg">
    <a class="text-white h1" href="/">
        <strong class="text-uppercase">NEVI</strong>fashion
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="ml-auto navbar-nav text-uppercase text-right px-2">
            <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/gallery">Gallery</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/about">About</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/contact">Contact</a> </li>
        </ul>
    </div>
</nav>
